@tailwind base;
@tailwind components;
@tailwind utilities;
#logga {
  font-family: "Monoton", sans-serif;
}

body {
  background-image: url("/Images/F58D51D0-02A0-418E-9055-B7A1CB5A445C.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
}
